<div ng-controller="app.views.about as vm">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4"></div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <div class="row">Conseptor By Hari Murdiyanto</div>
            <div class="row">
                Developer By M Candra Team
            </div>
            <div class="row">
                Contributor :
            </div>
            <div class="row">
                Moch. Mulyono
            </div>
           <div class="row">
                Vita Budhi Sulistyo 
            </div>
            <div class="row">
                Catur Heru Broto
            </div>
            <div class="row">
                Retno Budiarti
            </div>
            <div class="row">
                Sri Sumartini
            </div>
            <div class="row">
                Lolyta Hapsari
            </div>
            <div class="row">
                Arelis Istiari
            </div>
            <div class="row">
                Rizal Effendi
            </div>
            <div class="row">
                Nizar Fauzi
            </div>
            <div class="row">
                Ainun Najih
            </div>
            <div class="row">
                Faridhatul Asriyah
            </div>
             <div class="row">
                Eko Setiawan
            </div>
            <div class="row">
                Seksi KI
            </div>
            <div class="row">
                Seksi PDAD
            </div>
            <div class="row">
                Seksi PKC
            </div>
            <div class="row">
                Semua rekan Bea Cukai Juanda
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4"></div>
</div>