<div class="container" ng-controller="app.views.analisis as vm" style="background-color:white; color: black; width: 100%; overflow-y: scroll">
    <div class="row">
        <!--PIB-->
        <div class="col-xs-3">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">JUMLAH DOKUMEN PIB</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--BEA MASUK-->
        <div class="col-xs-3">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">JUMLAH BEA MASUK</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!-- TONASE -->
        <div class="col-xs-3">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">JUMLAH TONASE</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--DEVISA BAYAR-->
        <div class="col-xs-3">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">JUMLAH DEVISA BAYAR</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>
    </div>

    <div class="row">
        <!--DOK/TONASE-->
        <div class="col-xs-4">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">DOK/TONASE</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                            <th>Selisih </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--Grafik Dok/TONASE-->
        <div class="col-xs-8" style="overflow-x: scroll">
            <canvas id="line" class="chart chart-line" chart-data="datadoktonase" chart-colors="colors" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>
    <div class="row">
        <!--Dok/Devisa-->
        <div class="col-xs-4">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">DOK/DEVISA</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                            <th>Selisih</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--Grafik Dok/Devisa-->
        <div class="col-xs-8" style="overflow-x: scroll">
            <canvas id="line" class="chart chart-line" chart-data="datadokdevisa" chart-colors="colors" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>

    <div class="row">
        <!--DOK/BM-->
        <div class="col-xs-4">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">DOK/BEA MASUK</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                            <th>Selisih </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--Grafik Dok/BM-->
        <div class="col-xs-8" style="overflow-x: scroll">
            <canvas id="line" class="chart chart-line" chart-data="datadokbm" chart-colors="colors" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>
    <div class="row">
        <!--BM/TONASE-->
        <div class="col-xs-4">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">BM/TONASE</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                            <th>Selisih</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--Grafik Dok/Devisa-->
        <div class="col-xs-8" style="overflow-x: scroll">
            <canvas id="line" class="chart chart-line" chart-data="databmtonase" chart-colors="colors" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>
</div>