<div class="container" ng-controller="app.views.analisis as vm" style="background-color:white; color: black; width: 100%; overflow-y: scroll">
    <div class="row">
        <!--PIB-->
        <div class="col-xs-3">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">JUMLAH DOKUMEN PIB</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>1306</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>1293</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1756</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>1763</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>1424</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>1828</td>
                            <td>943</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>1527</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>1219</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>1435</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>1754</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>1424</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>17672</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>1472.66</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--BEA MASUK-->
        <div class="col-xs-3">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">JUMLAH BEA MASUK</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>19590605000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>15459502000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>23518094000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>20441015000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>19708331000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>25804483000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>16252585000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>23178407000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>20494912000    </td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>18218541000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>19960605000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>14358859000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>236985939000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>19748828250</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!-- TONASE -->
        <div class="col-xs-3">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">JUMLAH TONASE</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>685012.23</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>533659.59</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>1492534.31</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>924163.79</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>224874.01</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>916082</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>0</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>786836.08</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>538030.2</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>813796.24</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>678699.07</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>346688.3</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>7940375.82</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>661697.985</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--DEVISA BAYAR-->
        <div class="col-xs-3">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">JUMLAH DEVISA BAYAR</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>27757003.52</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>41077222.1</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>47738729.88</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>38084537.08</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>47019542.56</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>52450594.85</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>40656529</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>56547697.98</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>50658666.71</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>103725353.79</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>240387305.03</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>319537007.95</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1065640190.45</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>88803349.204</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>
    </div>

    <div class="row">
        <!--DOK/TONASE-->
        <div class="col-xs-4">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">DOK/TONASE</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                            <th>Selisih </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>524.51</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>412.72</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>849.96</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>524.19</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>157.91</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>501.13</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>0</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>515.28</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>441.37</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>567.10</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>386.94</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>243.46</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>427.05</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--Grafik Dok/TONASE-->
        <div class="col-xs-8" style="overflow-x: scroll">
            <canvas id="line" class="chart chart-line" chart-data="datadoktonase" chart-colors="colors" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>
    <div class="row">
        <!--Dok/Devisa-->
        <div class="col-xs-4">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">DOK/DEVISA</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                            <th>Selisih</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>21253.45</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>31768.92</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>27186.06</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>21602.11</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>33019.34</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>28692.89</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>43114.02</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>37031.89</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>41557.56</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>72282.47</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>137050.91</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>224393.97</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>31691.80</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--Grafik Dok/Devisa-->
        <div class="col-xs-8" style="overflow-x: scroll">
            <canvas id="line" class="chart chart-line" chart-data="datadokdevisa" chart-colors="colors" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>

    <div class="row">
        <!--DOK/BM-->
        <div class="col-xs-4">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">DOK/BEA MASUK</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                            <th>Selisih </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>15000463</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>11956304</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>13392992.02</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>11594449.80</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>13840120.08</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>14116237.97</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>17234978.80</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>15179048.46</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>16812889.25</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>12695847.38</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>11380048.46</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>10083468.40</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>14347498.26</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--Grafik Dok/BM-->
        <div class="col-xs-8" style="overflow-x: scroll">
            <canvas id="line" class="chart chart-line" chart-data="datadokbm" chart-colors="colors" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>
    <div class="row">
        <!--BM/TONASE-->
        <div class="col-xs-4">
            <div class="table-responsive">
                <table summary="" class="table table-bordered table-hover">
                    <caption class="text-center">BM/TONASE</caption>
                    <thead>
                        <tr>
                            <th>BULAN/TAHUN</th>
                            <th>T.A 2016</th>
                            <th>T.A 2017</th>
                            <th>Selisih</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JANUARY</td>
                            <td>28598.91</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>FEBRUARY</td>
                            <td>28968.84</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MARET</td>
                            <td>15757.15</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>APRIL</td>
                            <td>22118.38</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>MAY</td>
                            <td>87641.65</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JUNE</td>
                            <td>28168.31</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>JULY</td>
                            <td>0</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>AUGUST</td>
                            <td>29457.73</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>SEPTEMBER</td>
                            <td>38092.50</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>OCTOBER</td>
                            <td>22387.10</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>NOVEMBER</td>
                            <td>29410.10</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>DECEMBER</td>
                            <td>41417.20</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>RATA-RATA</td>
                            <td>30978.16</td>
                            <td>1,000</td>
                            <td>1,000</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--end of .table-responsive-->
        </div>

        <!--Grafik Dok/Devisa-->
        <div class="col-xs-8" style="overflow-x: scroll">
            <canvas id="line" class="chart chart-line" chart-data="databmtonase" chart-colors="colors" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>
</div>